.modal {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  width: calc(100% - 40px);
  max-width: 334px;
  padding: 64px 20px;

  border-radius: 24px;
  background-color: var(--background);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  text-align: center;
}

.title {
  margin: 0;

  color: #000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
}

.text {
  margin: 0;

  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.actions > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 48px;
  padding: 11px 24px;
  flex: none;

  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    color 0.2s ease;
}

.actions > button:first-child {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.05);
  color: var(--text-third);
}

.actions > button:first-child:hover,
.actions > button:first-child:focus-visible {
  border-color: var(--button-primary);
  background-color: var(--button-primary);
  color: var(--text-secondary);
}

.actions > button:last-child {
  border: 1px solid var(--button-primary);
  background-color: var(--button-primary);
  color: var(--text-secondary);
}

.actions > button:last-child:hover,
.actions > button:last-child:focus-visible {
  background-color: var(--foreground);
  color: var(--text-third);
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 704px;
    padding: 64px 32px;
  }

  .actions {
    flex-direction: row;
    width: 430px;
    gap: 24px;
  }

  .actions > button {
    flex: 1;
    width: auto;
  }

  .title {
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    max-width: 768px;
    padding: 64px;
  }

  .title {
    font-size: 48px;
  }

  .text {
    font-size: 20px;
    line-height: 30px;
  }

  .actions > button {
    padding: 8px 24px;
    font-size: 20px;
    line-height: 30px;
  }
}

