.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: calc(100% - 40px);
  max-width: 334px;
  padding: 64px 20px 32px;
  border-radius: 24px;
  background-color: var(--background);
  text-align: center;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--text-primary);
}

.text {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-primary);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-top: 16px;
}

.primary,
.secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.primary {
  background-color: var(--button-primary);
  color: var(--text-secondary);
}

.primary:hover,
.primary:focus-visible {
  background-color: #a9502a;
}

.secondary {
  border: var(--border-primary);
  color: var(--text-primary);
}

.secondary:hover,
.secondary:focus-visible {
  background-color: var(--button-secondary-hover);
}

@media (min-width: 768px) {
  .modal {
    max-width: 704px;
    padding: 64px 32px 48px;
  }

  .title {
    font-size: 32px;
  }

  .actions {
    flex-direction: row;
    width: 430px;
  }

  .primary,
  .secondary {
    flex: 1;
  }
}
